.banner {
  background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.banner__title {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px #333;
  margin-bottom: 20px;
}
.banner__description {
  font-size: 18px;
  text-shadow: 1px 1px #333;
}
#div {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-image: url(../logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes example {
  0% {
    left: -100px;
    top: 0px;
  }
  25% {
    left: -400px;
    top: 0px;
  }
  50% {
    left: -400px;
    top: 200px;
  }
  75% {
    left: 400px;
    top: 200px;
  }
  100% {
    left: 400px;
    top: 0px;
  }
}
