.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  padding: 30px 50px;
}

.grid-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  min-width: 25%;
  border-radius: 6px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover {
  background-color: whitesmoke;
  transform: translateY(-5px);
  box-shadow: 2px 7px 20px #ccc;
}

.grid-item h3 {
  margin-top: 0;
  text-decoration: underline;
  text-transform: capitalize;
}

.grid-item p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
}
.no-result {
  font-size: 20px;
  font-weight: bolder;
  color: red;
}
